.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(213, 32, 32, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    color: #666;
    font-size: 1.2rem;
    line-height: 1.6;
}

.module-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 3 columns with equal width */
    gap: 20px; /* Space between modules */
  }
  
  